body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: red;
    
  }
  
  .item {
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 53px;
    background: #ffffff;
    box-shadow:  11px 11px 28px #a6a6a6,
                -11px -11px 28px #ffffff;
  }
  
h2.Items {
  color:blue;
}